html,body{
	margin: 0;
	padding: 0;
	background-color: #FFF8F8;
	font-family: sans-serif;
}

#menu{
	width:100%;
	min-height:30px;
	background-color: #FF0000;
	color: #FFCCCC;
}

div.menuitem{
	height: 30px;
	width: 25%;
	float:left;
	font-size:25px;
	text-align: center;
	font-weight: bold;
}

div.menuitem:hover{
		background-color: #FF5555;
		cursor: pointer;
}

#container{
	margin: 10px;
	padding: 10px;
	color: #000000;
	text-align: left;
	float:left;
	width:200px;
}

.menu{
	color: inherit;
	text-decoration: inherit;
}

#log_messages{
	border: 2px solid #444444;
	width: 95%;
	min-height: 500px;
	text-align: left;
	background-color: #222222;
	color: #EEEEEE;
}

#log_messages_container{
	float: left;
	width: 80%;
	overflow: auto;
}

td{
	min-width: 20%;
}

#hoverinfo{
	background-color:#00FF00;
	width:40%;
	height:70%;
	float: right;
}

span.title{
	font-weight: bold;
	min-width:150px;
	font-size: 15px;
	font-family: monospace;
}

span.result{
	min-width:150px;
	font-size: 15px;
	font-family: monospace;
}

#name{
	margin-left: 240px;
}